body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    height: 100vh;
    box-sizing: border-box;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

#searchBar {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#searchButton {
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

#treeView {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.tree-item {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    word-wrap: break-word;
}

.tree-item:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

#propertyGrid {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

#properties div {
    padding: 5px;
    border-bottom: 1px solid #eee;
    word-wrap: break-word;
}